<div class="main-image tall">
  <div class="textcentered f-large f-light padding-top-20 typed">
  </div>
</div>
<section class="grid padding-2">
  <div class="col-6 textright padding-2 hide revealOnScroll" data-animation="slideInLeft" data-timeout="600">
    <h1 class="f-medium line-height"> Salesforce Solutions </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 hide color-light bump-left revealOnScroll" data-animation="fadeIn" data-timeout="800">
  </div>
  <div class="col-6 hide color-light bump-right revealOnScroll" data-animation="fadeIn" data-timeout="800">
  </div>
  <div class="col-6 padding-2 hide revealOnScroll" data-animation="slideInRight" data-timeout="600">
    <h1 class="f-medium line-height"> Business Process Design </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 textright padding-2 hide revealOnScroll" data-animation="slideInLeft" data-timeout="600">
    <h1 class="f-medium line-height"> Project Management </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 hide color-light bump-left revealOnScroll" data-animation="fadeIn" data-timeout="800">
  </div>
  <div class="col-6 hide color-light bump-right revealOnScroll" data-animation="fadeIn" data-timeout="800">
  </div>
  <div class="col-6 padding-2 hide revealOnScroll" data-animation="slideInRight" data-timeout="600">
    <h1 class="f-medium line-height"> Operations Consulting </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 textright padding-2 hide revealOnScroll" data-animation="slideInLeft" data-timeout="600">
    <h1 class="f-medium line-height"> Wed Development </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 hide color-light bump-left revealOnScroll" data-animation="fadeIn" data-timeout="800">
  </div>
  <div class="col-6 hide color-light bump-right revealOnScroll" data-animation="fadeIn" data-timeout="800">
  </div>
  <div class="col-6 padding-2 hide revealOnScroll" data-animation="slideInRight" data-timeout="600">
    <h1 class="f-medium line-height"> Content Creation </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 textright padding-2 hide revealOnScroll" data-animation="slideInLeft" data-timeout="600">
    <h1 class="f-medium line-height"> Social Media Management </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 hide color-light bump-left revealOnScroll" data-animation="fadeIn" data-timeout="800">
  </div>
</section>
<div class="block textcentered">
  <h1 class="f-light f-medium padding-top-bottom-10"> This is a quote from someone who I have helped with their business </h1>
</div>
<div class="grid padding-5">
  <div class="col-12 grid-center">
    <h1 class="f-medium padding-2 no-wrap"> Are you interested?</h1>
  </div>
  <div class="col-12">
    <p class="f-small padding-top-bottom-5"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="col-12 grid-center" id="contact">
  <div class="button">
    <a href="" onclick="Calendly.showPopupWidget('https://calendly.com/tripbynumbers/30min');return false;" class="f-light f-medium no-wrap padding-5 ">Book Now</a>
    </div>
  </div>
</div>
