<section class="grid padding-2">
  <div class="col-6 textright padding-2 hide revealOnScroll" data-animation="slideInLeft" data-timeout="500">
    <h1 class="f-medium line-height">  Photography </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 hide revealOnScroll" data-animation="fadeIn" data-timeout="700">
      <div class="img photography">
      </div>
  </div>
  <div class="col-6 hide revealOnScroll" data-animation="fadeIn" data-timeout="700">
  </div>
  <div class="col-6 padding-2 hide revealOnScroll" data-animation="slideInRight" data-timeout="500">
    <h1 class="f-medium line-height"> Web Development </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 textright padding-2 hide revealOnScroll" data-animation="slideInLeft" data-timeout="500">
    <h1 class="f-medium line-height"> Communities </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 hide revealOnScroll" data-animation="fadeIn" data-timeout="700">
  </div>
  <div class="col-6 hide revealOnScroll" data-animation="fadeIn" data-timeout="700">
  </div>
  <div class="col-6 padding-2 hide revealOnScroll" data-animation="slideInRight" data-timeout="500">
    <h1 class="f-medium line-height"> Content Creation </h1>
    <p class="f-small"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

</section>
